<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiSxgPBqXt2JAybhOZYWlLwB6hi9TSRY0</string>
	<key>GCM_SENDER_ID</key>
	<string>826760163346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mtDhruv</string>
	<key>PROJECT_ID</key>
	<string>mt-dhruv</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-dhruv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826760163346:ios:088770848b6d6bba5a68cb</string>
</dict>
</plist>